
* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: underline;
	color: #0F8C8C;
}

a:hover {
	text-decoration: none;
}

body {
	font-size: 11.5pt;
	color: #5C5B5B;
	line-height: 1.75em;
	background: #E0DCDC url(images/img01.gif) repeat-x top left;
}

body,input {
	font-family: Georgia, serif;
}

strong {
	color: #2C2B2B;
}

br.clearfix {
	clear: both;
}

h1,h2,h3,h4 {
	font-weight: normal;
	letter-spacing: -1px;
}

h2 {
	font-size: 2.25em;
}

h2,h3,h4 {
	color: #2C2B2B;
	/*margin-bottom: 1em;*/
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.5em;
}

img.alignleft {
	margin: 5px 20px 20px 0;
	float: left;
}

img.aligntop {
	margin: 5px 0 20px 0;
}

img.pic {
	padding: 5px;
	border: solid 1px #D4D4D4;
}

/*p{
	margin-bottom: 1.5em;
}*/

ul {
	margin-bottom: 1.5em;
}

ul h4 {
	margin-bottom: 0.35em;
}

.box {
	overflow: hidden;
	margin-bottom: 1em;
}

.date {
	background: #6E6E6E;
	padding: 5px 6px 5px 6px;
	margin: 0 6px 0 0;
	color: #FFFFFF;
	font-size: 0.8em;
	border-radius: 2px;
}

#content {
	/*width: 665px;*/
	float: left;
	padding: 0;
}

#content-box1 {
	width: 320px;
	float: left;
}

#content-box2 {
	margin: 0 0 0 345px;
	width: 320px;
}

#footer {
	margin: 40px 0 120px 0;
	text-align: center;
	color: #8C8B8B;
	text-shadow: 0 1px 0 #FFFFFF;
}

#footer a {
	color: #8C8B8B;
}

#header {
	height: 75px;
	position: relative;
	background: #FEAE0A url(images/img03.jpg) top left no-repeat;
	padding: 45px;
	color: #FFFFFF;
	/*width: 888px;*/
	border: solid 1px #7E7E7E;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	overflow: hidden;
}

#logo {
	line-height: 160px;
	height: 160px;
	padding: 5px 0 0 0;
	position: absolute;
	top: 0;
	left: 45px;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
	text-shadow: 0 1px 1px #3E3E3E;
}

#logo h1 {
	font-size: 3.25em;
}

#slogan {
	line-height: 160px;
	height: 160px;
	padding: 5px 0 0 0;
	position: absolute;
	right: 45px;
	top: 0;
}

#slogan h2 {
	color: #BEBEBE;
	font-size: 1.25em;
	text-shadow: 0 1px 1px #3E3E3E;
}

#menu {
	padding: 0 45px 0 45px;
	position: relative;
	background: #99CA00 url(images/img02.gif) repeat-x top left;
	margin: 0;
	height: 60px;
	/*width: 890px;*/
	border-top: solid 1px #FFFFFF;
	border-bottom: solid 1px #FFFFFF;
	text-shadow: 1px 1px 1px #007D7D;
}

#menu ul {
	list-style: none;
	padding-top: 12px;
	position: relative;
	left: -15px;
}

#menu ul li {
	padding: 5px 15px 5px 15px;
	margin-right: 10px;
	display: inline-block;
}

#menu ul li a, #menu ul li span {
	text-decoration: none;
	color: #FFFFFF;
	letter-spacing: -1px;
	font-size: 1.25em;
}

#menu ul li span b {
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 7px solid #1C7575;
	margin-left: 8px;
	position: relative;
	top: -1px;
}

#menu ul li.active {
	background: #1C7575;
	border-top: solid 1px #1A6B6B;
	border-bottom: solid 1px #5AD7D7;
	border-radius: 3px;
	padding-top: 4px;
	padding-bottom: 4px;
}

#menu ul li.active span b {
	border-top-color: #165E5E;
}

.dropotron {
	background: rgba(32,157,157,0.9);
	border-top: solid 1px #5AD7D7;
	border-bottom: solid 1px #1C7575;
	text-shadow: 0 1px 1px #007D7D;
	list-style: none;
	margin: 0;
	padding: 15px 10px 15px 10px;
	min-width: 200px;
	border-radius: 6px;
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
}

.dropotron a, .dropotron span {
	color: #FFFFFF;
	text-decoration: none;
	letter-spacing: -1px;
	display: block;
	width: 100%;
	position: relative;
}

.dropotron span b {
	display: inline-block;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 7px solid #1C7575;
	position: absolute;
	right: 0px;
	top: 7px;
}

.dropotron li:hover span b {
	border-left-color: #165E5E;
}

.dropotron li {
	padding: 3px 10px 3px 10px;
	margin: 2px 0 2px 0;
	border-radius: 3px;
}

.dropotron li:hover, .dropotron li.active {
	padding-top: 2px;
	padding-bottom: 2px;
	background: rgba(28,117,117,0.9);
	border-top: solid 1px #1A6B6B;
	border-bottom: solid 1px #5AD7D7;
}

.dropotron-level-1 {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#page {
	padding: 45px 45px 15px 45px;
	position: relative;
	width: 890px;
	margin: 0;
}

#page .section-list {
	list-style: none;
	padding-left: 0;
}

#page .section-list li {
	clear: both;
	padding: 30px 0 30px 0;
}

#page ul {
	list-style: none;
}

#page ul li {
	border-top: dotted 1px #C4C4C4;
	padding: 15px 0 15px 0;
}

#page ul li.first {
	padding-top: 0;
	border-top: 0;
}

#page-bottom {
	position: relative;
	margin: 0;
	background: #6E6E6E url(images/img03.jpg) top left no-repeat;
	border: solid 1px #7E7E7E;
	width: 888px;
	padding: 45px 45px 0 45px;
	color: #DCDCDC;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	text-shadow: 0 1px 1px #444444;
}

#page-bottom a {
	color: #F5F5F5;
}

#page-bottom h2, #page-bottom h3, #page-bottom h4 {
	color: #FFFFFF;
}

#page-bottom ul {
	list-style: none;
}

#page-bottom ul li {
	border-top: dotted 1px #8F8F8F;
	padding: 15px 0 15px 0;
}

#page-bottom ul li.first {
	padding-top: 0;
	border-top: 0;
}

#page-bottom-content {
	width: 665px;
	float: left;
}

#page-bottom-sidebar {
	width: 200px;
	margin: 0 0 0 690px;
}

#search input.form-submit {
	margin-left: 1em;
	color: #FFFFFF;
	padding: 10px;
	background: #2FACAC;
	border: 0;
}

#search input.form-text {
	border: solid 1px #8F8F8F;
	padding: 10px;
}

#sidebar {
	width: 200px;
	padding: 0;
	margin: 0 0 0 690px;
}

#slider {
	position: relative;
	
	width: 890px;
}

#slider .viewer {
	width: 910px;
	height: 390px;
	border: solid 2px #FDB101;
	border-radius: 3px;
}

#slider .slide {
	width: 890px;
	height: 300px;
	padding: 10px;
}


#slider .indicator {
	position: relative;
	z-index: 3;
	text-align: center;
	margin: 20px 0 0 0;
}

#slider .indicator span {
	display: inline-block;
	text-indent: -9999em;
	width: 12px;
	height: 12px;
	background: yellowgreen;
	border-radius: 6px;
	margin: 0 2px 0 2px;
}

#slider .indicator span.active {
	background: #FEAE0A;
}

#wrapper {
	position: relative;
	/*width: 980px;
	margin: 75px auto 0 auto;*/
	background: #FFFFFF;
	border-radius: 6px;
	box-shadow: 0px 5px 20px 2px rgba(0,0,0,0.1);
}
#schemes{
	border: 1px  black;
	border-style: solid;
	padding: 10px 10px 10px 10px;
	margin: 5px 5px 5px 5px;
}
#marq{
	height: 250px;
}
#login
{
	right: 1px;
	position: absolute;
	top: 17px;
}
.icon{
	margin: 10px;
	color: white;
}
/* css rating.html */

.cont {
  width: 100%;
  max-width: 350px;
  /*text-align: center;*/
  margin: 4% auto;
 /* padding: 10px 0;*/
  color: #9e9e9e;
  border-radius: 5px;
 
  overflow: hidden;
}



div.title { font-size: 2em; }

h1 span {
  font-weight: 300;
  color: #Fd4;
}

div.stars {
  /*width: 270px;*/
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 5px;
  font-size: 20px;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 180px;
    border-radius: 4px;
    margin: 35px;
    padding: 5px 5px 5px 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 8px;
}
#submit-btn{
  /*float :right;*/
  margin : 5px;
  padding: 10px;
}

body .column {
  /*background: #F6F792;*/
  height: 70px;;
  /*loat: left;*/
  width: 100%;
  position: relative;
}
body .two {
  background: #F6F792;
}
body .three {
  background: #EA2E49;
}
body .four {
  background: #333745;
}
body .search {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  text-align: center;
  overflow: hidden;
}
body .search_bar {
  width: 280px;
  position: relative;
  margin: 0 auto;
}
body .search_bar input[type="text"] {
  width: 15px;
  background: transparent;
  -webkit-transition: border 0.3s 0s, width 0.2s 0.3s cubic-bezier(0.225, 0.01, 0.475, 1.01), text-indent 0.2s 0.3s;
  transition: border 0.3s 0s, width 0.2s 0.3s cubic-bezier(0.225, 0.01, 0.475, 1.01), text-indent 0.2s 0.3s;
  padding: 10px;
  border-color: #feae0a;
  text-indent: 30px;
  outline: none;
  border: 0px solid #feae0a;
  font-size: 12px;
  color: #99CA00;
  border-radius: 5px;
  font-family: 'Nunito', sans-serif;
}
body .search_bar ::-webkit-input-placeholder {
  /* Safari, Chrome and Opera */
  color: #feae0a;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
}
body .search_bar ::-moz-input-placeholder {
  /* Safari, Chrome and Opera */
  color: #feae0a;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
}
body .search_bar ::-o-input-placeholder {
  /* Safari, Chrome and Opera */
  color: #feae0a;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
}
body .search_bar input[type="checkbox"] {
  display: none;
}
body .search_bar input[type="checkbox"]:checked + label + input {
  width: 230px;
  border: 5px solid #feae0a;
  text-indent: 0px;
}
body .search_bar input[type="checkbox"]:checked + label i {
  right: 0px;
  -webkit-transform: translateY(-50%) translateX(50%) rotate(360deg) scale(0);
          transform: translateY(-50%) translateX(50%) rotate(360deg) scale(0);
  color: #feae0a;
}
body .search_bar input[type="checkbox"]:checked + label .last {
  left: 220px;
  -webkit-transform: translateY(-50%) rotate(360deg) scale(1);
          transform: translateY(-50%) rotate(360deg) scale(1);
}
body .search_bar input[type="checkbox"]:checked + label p {
  top: 50%;
  -webkit-transition: all .3s .45s;
  transition: all .3s .45s;
}
body .search_bar input[type="checkbox"]:not(checked) + label p {
  top: -50%;
  -webkit-transition: all .3s 0s;
  transition: all .3s 0s;
}
body .search_bar .last {
  -webkit-transform: translateY(-50%) rotate(0deg) scale(0);
  transform: translateY(-50%) rotate(0deg) scale(0);
}
body .search_bar i {
  position: absolute;
  font-size: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(50%) rotate(0deg) scale(1);
          transform: translateY(-50%) translateX(50%) rotate(0deg) scale(1);
  cursor: pointer;
  z-index: 2;
  margin: auto;
  border-radius: 4px;
  width: 56px;
  right: 50%;
  height: 54px;
  background: transparent;
  -webkit-transition: right .3s .3s, color .3s, -webkit-transform .3s .3s;
  transition: right .3s .3s, color .3s, -webkit-transform .3s .3s;
  transition: right .3s .3s, transform .3s .3s, color .3s;
  transition: right .3s .3s, transform .3s .3s, color .3s, -webkit-transform .3s .3s;
  line-height: 60px;
  color: #99CA00;
}
body .search_bar i:hover {
  color: #feae0a;
}
body .search_bar p {
  position: absolute;
  margin: 0;
  right: 52px;
  color: #feae0a;
  font-weight: 700;
  font-size: 30px;
  top: -50%;
  -webkit-transform: translateY(-50%) rotate(0deg) scale(1);
          transform: translateY(-50%) rotate(0deg) scale(1);
}

#list{
	display: inline-flex;
}

.list-cards{
	display: -webkit-inline-box;
}